::ng-deep {
    .softblue-bg {
        background: url("../assets/ukyfjffj.gif");
        background-size: cover;
        background-position: center;
        width: 100%;
        height: 100vh;
        overflow-y: scroll;
    }
}